<h1>Locations</h1>

<ul>
  <% @locations.each do |location| %>
    <li>
      <h1><%= location.title %></h1>
      <p><%= location.description %></p>
      <%= link_to location.title, location %>
    </li>
  <% end %>
</ul>

<%= link_to "New Location", new_location_path %>